{% extends is_granted("ROLE_USER") == 'true'
? 'layout_user.html.twig'
: 'layout.html.twig' %}
{% block title  %} {{ 'title.Sport_application'|trans }} {% endblock %}

{% block content %}
    <body>
    {% include 'default/_flash_messages.html.twig' %}
    {{ "message.page_not_found"|trans }}
    </body>
{% endblock %}
