{% extends 'layout_user.html.twig' %}

{% block title %}{{ 'hello'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'header.future_trainings'|trans }}</h1>

    <tr>
        {% for data in calendar %}
            <h3>{{  'table.training_day'|trans }}</h3>
            <td>{{ data.Training_day_day_number|date("Y-m-d") }}</td>
             <br>
        {% endfor %}
    </tr>

{% endblock %}